<html>
<head>
  <title>Bookmark Manager</title>
</head>
  <body style="text-align: center; font-size:40px">
    <hr width="50%"></hr>
    <h1>Bookmark Manager!</h1>
    <hr width="50%"></hr>
    <div style="margin-right: 215px; margin-left: 215px">
    <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><a href="<%= bookmark[:url] %>"><%= bookmark[:title] %></a></li>
    <% end %>
    </ul>



    </div>
    <div style="margin-right: 215px; margin-left: 215px;">
      <form action="/add_bookmark" method="post">
        <button name="add bookmark" type="submit"</button <h2>add bookmark</h2>>
      </form>
    </div>
  </body>
</html>
